body > div {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #08c025;
}

body > div > div {
    width: 35%;
    height: 75%;
    border: 10px black;
    border-radius: 5%;
    background-color: white;
}
